.mainchat
  .chathead
    .chathead-box
      .chathead-box__name
        中村屋
      .chathead-box__member
        Member : 中村
    .chathead-edit
      Edit

  .message
    .messages
      .messages-name
        .messages-name__names
          中村
        .messages-name__date
          2020/2/22(wed) 12:12:12
      .messages-text
        あああああああ

  .form
    .forms
      .forms-place
        .forms-place__text
        .forms-place__img
      .forms-send