.sidebar
  .header
    .header-head
      .header-head-name
        中村
      .header-head-icon
        .header-head-icon__pen
          中
        .header-head-icon__cog
          村

  .group
    .groups
      .groups__name
        中村家
      .groups__text
        まだメッセージはありません
    